.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.unselectable {
  user-select: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.grid {
  display: grid;
}
