* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

.h1.title {
  text-align: center;
  margin-top: 10px;
}
/* ----------32------------- */
#tableBlock {
  padding: 10px;
}

#tableBlock .table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.td {
  padding: 10px;
  text-align: center;
  border: 2px solid #000;
}

/* ----------33----------- */
.lotteryBlock {
  margin-top: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#openBox {
  width: 200px;
  height: 80px;
  font-size: 32px;
  cursor: pointer;
}
