* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--main-regular);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* overflow-x: hidden; */
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--active-regular);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

input,
textarea,
button,
select {
  font: inherit;
}

.section {
  padding-left: var(--section-padding-y);
  padding-right: var(--section-padding-y);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.container.small {
  max-width: var(--small-container-width);
}

.title {
  color: var(--main-regular);
  font-weight: 700;
  line-height: normal;
}
/* ---------------------------------------- */

.btn.next,
.btn.prev {
  width: 64px;
  cursor: pointer;
  align-self: center;
  pointer-events: none;
}

.btn.next:hover,
.btn.prev:hover {
  transform: scale(1.03);
}

.btn.next:active,
.btn.prev:active {
  transform: scale(0.97);
}

.basic-image-slider {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 600px;
}

.basic-image-slider .image-box {
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.basic-image-slider .image-box .carousel-image {
  object-fit: contain;
}
