:root {
  --main-regular: #323264;
  --main-alt: #46466e;
  --main-soft: #686887;

  --accent: #f0145a;

  --active-regular: #24a3ff;
  --active-hover: #0085ff;
  --active-active: #006ccf;

  --grey-bg: #f5f5fa;
  --grey-bg-alt: #ededf7;
  --grey-separator: #e6e6f0;
  --grey-text: #b3b3ba;

  --container-width: 1600px;
  --small-container-width: 1360px;
  --basic-space: 1rem;
  --section-padding-y: 60px;
}
